html {
    background-color: #40536F;
    color: #283445;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.boardAndButton {
    position: absolute; 
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    visibility: visible;
}

.hideBoardAndButton {
    visibility: hidden;
}

#boardContainer {
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
}


.spot {
    background-color: white;
    width: 98px;
    height: 65px;
    font-weight: 900;
    text-align: center;
    padding-top: 33px;
    font-size: x-large;
}

.spot:hover {
    background-color: #ECF0F4;
}

.noClicksAllowed {
    pointer-events: none;
    cursor: none;
}

.spot:hover {
    cursor: pointer;
}

.turnDisplayer {
    border: 3px solid white;
    width: 300px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

.resetter {
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #7D94B5    ;
    color: white;
    padding: 10px 20px;
}

.resetter:hover {
    background-color: #879CBA;
}

.resetter:active {
    background-color: #7089AD;
    transform: translateY(1px);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hideOverlay {
    visibility: hidden;
}

.namePopup {
    color: white;
    background: #7d94b5;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    width: 400px;
    position: absolute; 
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    visibility: visible;
    padding: 15px 30px;
}

.hideNamePopup {
    visibility: hidden;
}

.enterNames{
    font-size: 25px;
    margin-top: 10px;
    font-weight: 700;
}

.instructions {
    font-size: 20x;
    font-weight: 400;
    background-color: #7089AD;
    font-style: italic;
    width: 300px;
    border: 1px solid #99ABC4;
    color: #E3E8EF;
    position: relative;
    margin: 10px auto;
    padding: 5px 10px;
}

.playerName {
    padding: 8px 0px;
    font-weight: 500;
}

input {
    border: none;
    margin-left: 10px;
    height: 28px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

input:active {
   outline: none;
}

.startGame {
    font-family: 'Roboto', sans-serif;
    border: 1px solid white;
    background-color: #7D94B5;
    color: white;
    padding: 10px 15px;
    position: relative;
    margin: 15px auto;
    width: 120px;
}

.startGame:hover {
    background-color: #879CBA;
    
}

.startGame:active {
    background-color: #7089AD;
    transform: translateY(1px);
}

.winnerPopup {
    background: #7d94b5;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
}

.openWinnerPopup {
    visibility: visible;
    top: 30%;
    height: 200px;
    width: 350px;
    transition: all .5s ease-in-out;
}

.winnerPopup .winText {
    color: white;
    font-weight: 900;
    font-size: 30px;
    margin-top:20%;
}

.winnerPopup button {
    font-family: 'Roboto', sans-serif;
    border: none;
    border: 1px solid white;
    background-color: #7D94B5;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    position: relative;
    bottom: -10px;
    width: 150px;
}

.winnerPopup button:hover {
    background-color: #879CBA;
}

.winnerPopup button:active {
    background-color: #7089AD;
}

.playAgain {
    margin-right: 8px;
}

.close {
    margin-left: 8px;
}