html {
    background-color: #b6c199;
    color: #703f37;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#boardContainer {
    margin-top: 100px;
    height: 300px;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3px;
}

.spot {
    background-color: white;
    width: 98px;
    height: 65px;
    font-weight: 900;
    text-align: center;
    padding-top: 33px;
    font-size: x-large;
}

.noClicksAllowed {
    pointer-events: none;
}

.spot:hover {
    cursor: pointer;
}

.resetter {
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #c29591;
    color: white;
    padding: 10px 20px;
}

.resetter:hover {
    background-color: #c8b7a6;
}

.resetter:active {
    background-color: #703f37
}

.namePopup {
    color: white;
    background: #c29591;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 100vw;
    visibility: visible;
}

.hideNamePopup {
    visibility: hidden;
}

.enterNames{
    font-size: 20px;
    padding: 15px 5px;
    margin-top: 10px;
}

.playerName {
    padding: 8px 0px;
}

input {
    border: none;
    margin-left: 10px;
    height: 28px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

input:active {
   outline: none;
}

.startGame {
    font-family: 'Roboto', sans-serif;
    border: 1px solid white;
    background-color: #c29591;
    color: white;
    padding: 10px 15px;
    margin-top: 20px;
    position: relative;
    bottom: -10px;
    width: 120px;
}

.startGame:hover {
    background-color: #c8b7a6;
    
}

.startGame:active {
    background-color: #703f37
}

.winnerPopup {
    background: #7d94b5;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
}

.openWinnerPopup {
    visibility: visible;
    top: 30%;
    height: 200px;
    width: 350px;
    transition: all .5s ease-in-out;
}

.winnerPopup .winText {
    color: white;
    font-weight: 900;
    font-size: 30px;
    margin-top:20%;
}

.winnerPopup button {
    font-family: 'Roboto', sans-serif;
    border: none;
    background-color: #c8b7a6;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    position: relative;
    bottom: -10px;
    width: 150px;
}

.winnerPopup button:hover {
    background-color: #c29591;
}

.winnerPopup button:active {
    background-color: #703f37
}

/*

Beige: #c8b7a6

Blue: #7d94b5

Rose: #c29591

Maroon: #703f37

Green: #b6c199

*/